* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;

}

div.progress {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  // background: rgba(6, 29, 66,1);
  background: white;
  div {
    width: 30%;
    height: 50px;
    position: relative;
    margin: 0 auto;
    margin-top: calc(50vh - 20px);
    display: block;
    div.bar {
      background: white;
      width:102%;
      height:0px;
      position: absolute;
      left:-4%;
      top: 5px;
      margin: 0;
    }
    div.bar-block {
      // background: #68C3AF;
      // background: linear-gradient(to right, #68C3AF, rgba(104, 195, 175, 0.6));
      background: url('/images/swedish.jpg');
      width:0%;
      height:40px;
      position: absolute;
      left: 0;
      top: -15px;
      margin: 0;
      opacity: 1;
    }
    div.percent {
      font-size: 25px;
      color: #e3e8ef;
      color: black;
      margin-top: 12px;
      margin-left: -65px;
      height: 30px;
      position:absolute;
      display:block;
      top:-25px;
      right:-55px;
      width:50px;
      text-align: right;
    }
    span {
      font-family: 'Raleway', sans-serif;
      // text-transform: uppercase;
      color: black;
      font-weight: 600;
      position: absolute;
      font-size: 0px;
      top: -38px;
      left: -18px;
    }
  }
}
main {
  section.background {
    position: fixed;
    img {
      width: 100%;
    }
  }

  section.name {
    opacity: 0.9;
    // background: red;
    height: 100vh;
    width: 100%;
    position: relative;
    // background: url('/swedish.jpg') no-repeat center center fixed;
    //
    // background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
    // -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
    // -moz-background-size: cover; /* optional for Firefox 3.6 */
    // -o-background-size: cover; /* for Opera 9.5 */
    // margin: 0; /* to remove the default white margin of body */
    // padding: 0; /* to remove the default white margin of body */
    // overflow: hidden;


    p {
      transition: 1s;
      transform: translateY(-50%) translateX(100%);
      margin-left: 20%;
      position: relative;
      // background: red;
      text-align: left;
      font-size: 125px;
      font-weight: 800;
      top: 50%;
      background: url('/images/swedish.jpg');
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      color: red;
        //
        // background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        // -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        // -moz-background-size: cover; /* optional for Firefox 3.6 */
        // -o-background-size: cover; /* for Opera 9.5 */
        // margin: 0; /* to remove the default white margin of body */
        // padding: 0; /* to remove the default white margin of body */
        // overflow: hidden;
    }

    // margin-top: 24%;
  }
}




@media only screen and (max-width: 840px) {

}
