* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  background: rgba(29,65,154,.9);
  color: white;
}

img {
  opacity: 0.98;
}

main {
  position: relative;
  padding-top: 100px;
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}

section {
  p {
    text-align: justify;
    font-weight: 300;
  }
}

section.about {
  padding-top: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid #68C3AF;
  margin-bottom: 150px;

  a {
    line-height: 30px;
    display: inline-block;
    font-weight: 300;
    color: white;
  }
}

section.image-grid {
  position: relative;
  width: 100%;
  height: 31vw;
  max-height: 510.58px;
  max-height: 510px;
  div.grid {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    transition: 0.9s ease-out;
    font-size: 0;
    padding: 0px;
    div {
      display: inline-block;
      width: 25%;
      height: 50%;
      border: 1px solid white;
      // background: green;
      font-size: 0px;
      &.top {
        border-top: 0px solid white;
      }
      &.left {
        border-left: 0px solid white;
      }
      &.right {
        border-right: 0px solid white;
      }
      &.bottom {
        border-bottom: 0px solid white;
      }
      &::after {
        transform: skewX(54deg);
        content: '';
        position: relative;
        display: block;
        margin-left: calc(50% - 1px);
        width:4px;
        height: 100%;
        background: white;
      }
    }
  }
  a.click-overlay, div.main-image, section.images {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    // background: red;
  }
  section.images {
    transition: 0.4s ease-out;
    // background: red;
    width: 100%;
    height: 100%;
    div.main-image {
      position: absolute;
      width: 50%;
      // right:50%;
      overflow: hidden;
      img {
        width:100%;
      }
    }
    div.top-left-image, div.top-right-image, div.bottom-left-image, div.bottom-right-image,{
      position: absolute;
      top: 0;
      left:50%;
      right:0;
      bottom: 0;
      width: 25%;
      height: 50%;
      overflow: hidden;
      img {
        width:100%;
      }
    }
    div.top-right-image {
      left:75%;
    }
    div.bottom-left-image {
      top: 50%;
      left:50%;
    }
    div.bottom-right-image {
      top: 50%;
      left:75%;
    }
  }
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  color: #68C3AF;
  margin-top: 5px;
}

section.project-info {
  margin-top: 50px;
  margin-bottom: 200px;
  p {
    margin-top: 20px;
  }
}

footer {
  height: 300px;
  width: 100%;
  background: white;
  opacity: 0.2;
}
