* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  transition: 2s ease;
}

body {
  transition: 2s ease;
  font-family: 'Raleway', sans-serif;
  background: rgba(6, 29, 66,1);
  color: white;
}

img {
  opacity: 0.98;
}


div.progress {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(6, 29, 66,1);
  div {
    width: 30%;
    height: 50px;
    position: relative;
    margin: 0 auto;
    margin-top: calc(50vh - 20px);
    display: block;
    div.bar {
      background: white;
      width:102%;
      height:1px;
      position: absolute;
      left:-4%;
      top: 5px;
      margin: 0;
    }
    div.bar-block {
      background: #68C3AF;
      background: linear-gradient(to right, #68C3AF, rgba(104, 195, 175, 0.6));
      width:0%;
      height:40px;
      position: absolute;
      left: 0;
      top: -15px;
      margin: 0;
      opacity: 1;
    }
    div.percent {
      font-size: 25px;
      color: #e3e8ef;
      margin-top: 12px;
      margin-left: -65px;
      height: 30px;
      position:absolute;
      display:block;
      top:-25px;
      right:-55px;
      width:50px;
      text-align: right;
    }
    span {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      position: absolute;
      font-size: 30px;
      top: -38px;
      left: -18px;
    }
  }
}

div.scroller-heat {
  position: fixed;
  top: '';
  bottom:'';
  right: 0;
  width: 15px;
  height: 0%;
  margin-top: 0px;
}

main {
  position: relative;
  // padding-top: 25vh;
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}

section.page-block {
  width: 100%;
  height:100vh;
  display: block;
  // margin-bottom: 25vh;
  // padding-top: 5vh;
  //margin-top: -100vh;
  position: absolute;
  top: 0;
  opacity: 0;
  //display: none;
  transform: perspective(2000px) rotateX(60deg) translateY(-600px);
  transition: 1s ease;
}

section {
  font-size: 14px;
  p {
    text-align: justify;
    font-weight: 300;
  }
}

section.about {

  padding-bottom: 50px;
  padding-top: 30px;
  margin-bottom: 150px;

  p {
    margin-left: 5%;
    width: 45%;
    display: block;
  }
  div {
    margin: 0 auto;
    width: 90%;
    a {
      margin-top: 30px;
      margin-right: 4%;
      line-height: 30px;
      display: inline-block;
      font-weight: 300;
      color: #68C3AF;
    }
  }
}

section.image-grid {
  //transform:perspective(2000px) rotateX(0deg) translateY(0px);
  // display: table-cell;
  // vertical-align: middle;
  top:50%;
  transform: translateY(-75%);
  position: relative;
  width: 90%;
  height: calc(31vw * 0.9);
  max-height: 510.58px;
  transition: 2.8s ease;
  margin: 0 auto;
  div.grid {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    transition: 0.9s ease-out;
    font-size: 0;
    padding: 0px;
    div {
      display: inline-block;
      width: 25%;
      height: 50%;
      border: 1px solid white;
      font-size: 0px;
      &.top {
        border-top: 0px solid white;
      }
      &.left {
        border-left: 0px solid white;
      }
      &.right {
        border-right: 0px solid white;
      }
      &.bottom {
        border-bottom: 0px solid white;
      }
      &::after {
        transform: skewX(54deg);
        content: '';
        position: relative;
        display: block;
        margin-left: calc(50% - 1px);
        width:4px;
        height: 100%;
        background: white;
      }
    }
  }

  a.click-overlay, div.main-image, section.images, a.responsive-overlay {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
  }

  a.responsive-overlay {
    display: none;
  }

  section.images {
    // opacity: 0.7;
    transition: 0.4s ease-out;
    width: 100%;
    height: 100%;
    background: white;
    div.main-image {
      position: absolute;
      width: 50%;
      overflow: hidden;
      img {
        // display: none;
        position: absolute;
        width:100%;
      }
      canvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width:100%;
        height:100%;
        opacity: 1;
        transition: 0.3s ease;
      }
    }
    div.top-left-image, div.top-right-image, div.bottom-left-image, div.bottom-right-image {
      position: absolute;
      top: 0;
      left:50%;
      right:0;
      bottom: 0;
      width: 25%;
      height: 50%;
      overflow: hidden;
      img {
        width:100%;
        position: absolute;
      }
      canvas {

        position: absolute;
        // display: none;
        opacity: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width:100%;
        height:100%;
        transition: 0.3s ease;
      }
    }
    div.top-right-image {
      left:75%;
    }
    div.bottom-left-image {
      top: 50%;
      left:50%;
    }
    div.bottom-right-image {
      top: 50%;
      left:75%;
    }
  }

  &:hover {
    section.images {
      div.main-image {
        canvas {
          opacity: 0;
        }
      }
      div.top-left-image, div.top-right-image, div.bottom-left-image, div.bottom-right-image {
        canvas {
          opacity: 0;
        }
      }
    }
  } //hover
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 23px;
  transition: 2s ease;
}

main > section > h1 {
  font-size: 27px;
  margin: 0 auto;
  margin-top: 25vh;
  width: 90%;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  color: #68C3AF;
  margin-top: 5px;
  transition: 2s ease;
}

main > section > h2 {
  margin: 0 auto;
  margin-top: 5px;
  width: 90%;
}
section.project-info {
  // transform:perspective(2000px) rotateX(60deg) translateY(-1000px);
  //opacity: 0;
  // transition: 3s ease;
  margin: 0 auto;
  top:calc(50% - (27.9vw));

  transform: translateY(calc((27.9vw * 0.25) + 15px));
  // height: 200px;
  width: 90%;
  position: relative;
  p {
    margin-top: 20px;
  }
}

footer {
  width: 100%;
  h5 {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-top:-50px;
    background: -webkit-linear-gradient(left,#35d6d1 30%,#ecff28 70%) no-repeat;
    -webkit-background-clip: text;
    color: #b4f25f;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    margin-bottom: 70px;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
// ::-webkit-scrollbar-track {
//    /* 3 */
//   background: #68C3AF;
// }
// ::-webkit-scrollbar-track-piece {
//   background: #1f3456;
// }
::-webkit-scrollbar-thumb {
  background: #e3e8ef;
  // opacity: 0.5;
}

section.responsive-block {
  display: none;
}
//
//




// @media only screen and (max-width: 770px) {
//   img {
//     position: relative;
//   }
//
//   section.image-grid {
//     height:124vw;
//     max-height: 2042.32px;
//     div.grid {
//       display: none;
//       div {
//         display: none;
//         &::after {
//           background: red;
//         }
//       }
//     }
//     a.responsive-overlay {
//       display: block;
//     }
//     section.images {
//       div.main-image {
//         width: 100%;
//       }
//       div.top-left-image, div.top-right-image, div.bottom-left-image, div.bottom-right-image,{
//         position: absolute;
//         top: 50%;
//         left:0;
//         right:0;
//         bottom: 0;
//         width: 50%;
//         height: 25%;
//       }
//       div.top-right-image {
//         left:50%;
//       }
//       div.bottom-left-image {
//         top: 75%;
//         left:0%;
//       }
//       div.bottom-right-image {
//         top: 75%;
//         left:50%;
//       }
//     }
//   }
//   canvas {
//     display: none;
//   }
//   a.click-overlay {
//     display: none;
//   }
//
//   section.about {
//     p {
//       margin-bottom: 5%;
//     }
//     a {
//       margin-top: 1%;
//       margin-right: 4%;
//       line-height: 30px;
//       display: block;
//     }
//   }
//   footer {
//     margin-top: 50px;
//     margin-bottom: 50px;
//   }
//   section.project-info {
//     margin-top: 50px;
//     margin-bottom: 100px;
//     height: 250px;
//     p {
//       margin-top: 20px;
//     }
//   }
// }
//
// @media only screen and (max-width: 610px) {
//   section.project-info {
//     height: 300px;
//   }
//   footer {
//     margin-top: 100px;
//     margin-bottom: 100px;
//   }
// }
//
// @media only screen and (max-width: 410px) {
//   section.project-info {
//     height: 400px;
//     margin-bottom: 50px;
//   }
// }
//
// @media only screen and (max-width: 350px) {
//   section.project-info {
//     height: 450px;
//   }
//   footer {
//     margin-top: 130px;
//   }
// }
